.dropdown {
  margin-left: 33.5vw;
  width: 33vw;
  height: 7vh;
  padding-top: 0.8vh;
  padding-left: 1vw;
  border: 1px solid #97A4A7;
  border-radius: 10px;
  background: transparent;
  font-size: 1.3vw;
  color: #97A4A7;
  -webkit-appearance: none;
  padding: 0 0 0.6vh 0.6vw;
  background-image: url("../../../assets/icons/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 24px);
  background-position-y: 20px;
}

.option {
  padding: 0 0 0.6vh 0.6vw;
  background-color: #ccd5d7;
}

.option:hover {
  border-radius: 5px;
  background-color: #3b4344;
  padding-left: 0.6vw;
  color: #97A4A7;
}

@media only screen and (max-width: 450px) {
  .dropdown {
    width: 74vw;
    padding-right: 10px;
  }
  
  .dropdown .option {
    font-size: large;
  }
}
