.dic-fetch-word{
    display: flex;
    margin: 0;
    font-size: xx-large;
    flex-direction: row;
}

.user-input-word {
    width: 32vw;
    height: 7vh;
    margin: 1.5vw;
    border-radius: 15px;
    background-color: #ffffff;
    font-size: 1.3vw;
    padding-top: 0.8vh;
    padding-left: 1vw;
    opacity: 0.57;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    text-align: center;
  }