.Home {
  text-align: center;
}
.textcolor {
  color: #ff5155;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1vh;
  justify-content: center;
}

.line {
  margin: 1.4vh 2vw 0 2vw;
  width: 8.3vw;
  height: 0;
  background-color: #ff5155;
  border: solid 1px #ff5155;
}

.Icon-awesome-keyboard {
  margin-top: 15vh;
  width: 15vw;
  height: 14vh;
  object-fit: contain;
  opacity: 0.64;
  background-color: var(--light-red);
}


.playername {
  width: 32vw;
  height: 7vh;
  margin: 1.5vw;
  padding-top: 0.8vh;
  padding-left: 1vw;
  opacity: 0.59;
  border-radius: 15px;
  background-color: #ccd5d7;
  color: #053a45;
  font-size: 1.3vw;
  text-transform: uppercase;
}

.playername:focus {
  outline: none;
  text-transform: uppercase;
  font-weight: normal;
}

.playername::placeholder {
  font-size: 1.3vw;
  font-weight: normal;
}

.startgame {
  bottom: 0;
  left: 0;
  margin-top: 1vh;
  margin-left: auto;
  margin-bottom: 5vh;
}
.startgametext {
  color: #ff5155;
  text-decoration: none;
}


@media only screen and (max-width: 450px) {
  /* For mobile phones: */
  .input-field-name {
    width: 75vw;
    font-size: large;
  }
  .input-field-name::placeholder {
    font-size: large;
  }
  .startgame {
    margin-left: 5vw;
  }
}
